html, body {
    margin: 1;
    background-color: #e9492c;
}

h1 {
    font-family: 'Aldrich';
}

body {
    font-family: 'Andika New Basic';
}

input[type=button], button {
    background-color: green;
    border: none;
    color: white;
    height: 50px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Andika New Basic';
    cursor: pointer;
}

.wrapper {
    width: 100%;
    height: 640px;
    padding: 1px;
    margin: 0 auto;
    background-color: #ddd;
}

#loginWrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(5, 5, 5, .6);
    text-align: center;
    color: #fff;
    display: block;
    padding-top: 200px;
}

#nickWrapper {
    display: none;
}

.banner {
    height: 80px;
    width: 100%;
}

.banner p {
    float: left;
    display: inline-block;
}

.controls {
    height: 100px;
    margin: 5px 0px;
    position: relative;
}

#historyMsg {
    height: 400px;
    background-color: #fff;
    overflow: auto;
    padding: 2px;
}

#historyMsg img {
    max-width: 99%;
}

.timespan {
    color: #ddd;
}

.items {
    height: 30px;
}

#colorStyle {
    width: 50px;
    border: none;
    padding: 0;
}

#loginBtn {
    background-color: #af4c4c;
    border: none;
    color: white;
    height: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#nicknameInput {
    border: 2px solid red;
    border-radius: 4px;
}

.imageLable {
    position: relative;
}

#sendImage {
    position: absolute;
    width: 52px;
    left: 0;
    opacity: 0;
    overflow: hidden;
}

#messageInput {
    width: 440px;
    max-width: 440px;
    height: 90px;
    max-height: 90px;
    float: left;
}

#sendBtn {
    border: none;
    color: white;
    height: 50px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#emojiWrapper {
    display: none;
    width: 500px;
    bottom: 105px;
    position: absolute;
    background-color: #aaa;
    width: 100%;
    box-shadow: 0 0 10px #555;
    border: 2px solid black;
}

#emojiWrapper img {
    margin: 2px;
    padding: 2px;
    width: 25px;
    height: 25px;
}

#emojiWrapper img:hover {
    background-color: blue;
}

.emoji {
    display: inline;
}

footer {
    text-align: center;
}

input[type=text] {
    width: 100%;
    height: 48px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

#a {
    float: right;
}

@media only screen and (min-width:600px) {
    #emojiWrapper {
        display: none;
        width: 500px;
        position: absolute;
        background-color: #aaa;
        width: 100%;
        box-shadow: 0 0 10px #555;
        border: 2px solid black;
    }
}

a, button, input[type=button],img {
    cursor: pointer;
}